body {
  background-color: #1B1B1B;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 40px;
  /* Agrega un margen inferior al cuerpo de la página */
}

h1 {
  text-align: center;
  color: white;
}

p {
  color: white;
}

h2 {
  color: #4F9779;
}

a {
  color: #08e287;
}

#title {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1B1B1B;
  padding: 2%;
  text-align: center;
  z-index: 1;
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin: 0%;
  background: #1B1B1B;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.Cards {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1%;
}

.divBtn {
  margin: 3%;
}

/* Media queries */

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}